BanknoteStorage_MVC/Service References/ServiceReference1/BanknoteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BanknoteStorage_WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BanknoteStorage_WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBanknote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Banknote" nillable="true" type="tns:Banknote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBanknote" nillable="true" type="tns:ArrayOfBanknote" />
  <xs:complexType name="Banknote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Banknote" nillable="true" type="tns:Banknote" />
</xs:schema>